In [74]:
import pandas as pd

In [78]:
def process_dataset(filename):
    with open(filename) as f:
        content = f.readlines()

    attributes = content[0].split('\t')[:-1]
    tables = []
    str_of_data = ''.join(content[2:])
    list_of_data = str_of_data.split('***************************\n')
    for data in list_of_data:
        data_list = data.split('\n')
        tables.append(list(data_list[len(data_list)-2]))

    return pd.DataFrame(data=tables, columns=attributes)

df = process_dataset('plantCellSignaling.data')
display(df.head())

,ABA,CLOSURE,Ca,CaATPase,CAIM,CIS,ABH1,GCR,ERA1,PEPC,...,GPA,ROS,AnionEM,ABI,DEPOLAR,HATPase,KOUT,KAP,Actin,NO
0,1,1,0,0,0,0,1,1,1,0,...,1,1,1,0,1,0,1,0,1,0
1,1,1,0,0,0,0,1,1,1,0,...,1,1,1,0,1,0,1,0,1,0
2,1,1,0,0,0,0,1,1,1,0,...,1,1,1,0,1,0,1,0,1,0
3,1,1,0,0,0,0,1,1,1,0,...,1,1,1,0,1,0,1,0,1,0
4,1,1,0,0,0,0,1,1,1,0,...,1,1,1,0,1,0,1,0,1,0